*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE DI DEBUG */

.debug .head-top{
    background-color: #ADD8E6;
}

.debug .nav-container{
    background-color: #DAA520;
}

.debug .debugborder{
    border: 2px dashed #000000;
}

.debug .head-bottom{
    background-color: #00008B;
    /* height: 400px; */
}

.debug .head-content{
    background-color: #EE82EE;
}

.debug section{
    /* min-height: 400px; */

}

.debug .section-img{
    background-color: #1E90FF;
}

.debug .section-text{
    background-color: #FFC0CB;
}

section > div{
    height: 300px;
}

.main-bottom{
    height: 700px;
    background-color: #228B22;
}

/* REGOLE CSS */

/* HEADER */

.center-container{
    width: 70%;
    margin: 0 auto;
}

.head-top{
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-container{
    height: 32px;
    display: flex;
}

.col-lateral{
    height: 100%;
    width: 20%;
    padding: 8px;
    display: flex;
    align-items: center;
}

.col-mid{
    height: 100%;
    width: 80%;
}

.col-right{
    flex-direction: row-reverse;
}

.head-top ul{
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-top li{
    float: left;
    margin: 0px 10px;
}

li a:link{
    text-decoration: none;
    padding: 5px;
}

.head-bottom{
    padding: 30px;
    border-bottom: 4px solid #ADD8E6;
}

.head-content{
    width: 60%;
    height: 300px;
    margin: 0 auto;
}

/* MAIN */

main section{
    padding: 30px 0px;
}

.main-content{
    display:flex;
}

main .section-img{
    height: 100%;
    width: 60%;  
}

main .section-text{
    height: 100%;
    width: 40%;
}


.grey{
    background-color: #D3D3D3;
}

